@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

html {
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* LUNA GLOBALS */

:root {
  /* RADII */
  --luna-border-radius-s: 2px;
  --luna-border-radius-m: 4px;
  --luna-border-radius-l: 8px;

  /* SHADOWS */
  --luna-elevation-1: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  --luna-elevation-2: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  --luna-elevation-4: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  --luna-elevation-6: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  --luna-elevation-8: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  --luna-elevation-12: 0 12px 17px 2px rgba(0, 0, 0, 0.14),
    0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
  --luna-elevation-24: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);

  /* TRANSITIONS */
  --luna-duration-fast: 0.1s;
  --luna-duration-normal: 0.2s;
  --luna-duration-slow: 0.4s;
  --luna-timing-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
  --luna-timing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --luna-timing-out-back: cubic-bezier(0.18, 0.89, 0.63, 1.59);
}

/* COMMON CLASSES */
.acrylic {
  /* Color/tint overlay + Opacity */
  background: rgba(0, 0, 0, 0.6);
  /* Parent background + Gaussian blur */
  backdrop-filter: blur(10px);
  /* Exclusion blend */
  background-blend-mode: exclusion;
}

.theme-light {
	--side-bar-bkg-color: hsl(210, 14%, 91%);
	--modal-bkg: #e2e4e6;

	background-color: hsl(216, 8%, 96%);
	color: var(--luna-text-color);
}
.theme-dark {
	--side-bar-bkg-color: #2a2c2f;
	--modal-bkg: #2a2c2f;

	background-color: hsl(210, 8%, 10%);
	color: var(--luna-text-color);
}

.v-spacer {
  height: 16px;
}